[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref= "*"
attrs = "*"
coverage="*"
Django = "*"
Faker = "*"
iniconfig = "*"
mixer = "*"
packaging = "*"
Pillow = "*"
pluggy = "*"
py = "*"
pyparsing = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-snapshot = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
sqlparse = "*"
text-unidecode = "*"
toml = "*"

[dev-packages]

[requires]
python_version = "3.9"
